<div class="topic-new-wrapper" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">スポットの投稿</h1>
                <%= form_for @topic do |f| %>
                <div class="form-group">
                  <%= f.label :title,"タイトル" %>
                  <%= f.text_field :title, class: 'form-control' %>
                </div>

                <div class="form-group form-station">
                  <%= f.label :station,"最寄駅", id: "label-station" %>
                  <%= f.text_field :station, class: 'form-control',id: 'stasion_name' %>
                  <input type="button" value="検索" id="btn-station" onclick="codeAddress()">
                </div>
                  <!-- デバッグ用緯度経度　確認-->
                  <!--<div id="display">何かが表示される、、、、！</div>
                  <div id="target_latitude">いど！</div>
                  <div id="target_longitude">けいど！  APIキー＝<%= @env %></div>-->
                  <!--<input type="hidden" name="topic[latitude]" value="35.72871894239424">
                  <input type="hidden" name="topic[longitude]" value="139.71208027196656">-->
                  <!-- ここまで -->
                <%= f.hidden_field :latitude %>
                <%= f.hidden_field :longitude %>

        <div id='map'></div>

                <div class="form-group">
                  <%= f.label :picture_1,"投稿写真(３枚まで)" %>

                    <div class="img_upload1">
                      <div class="pic_grid">
                        <div class="img_field" id="img_field1" onClick="$('#form-picture1').click()">
                          <% if @topic.picture_1.present? %>
                            <%= image_tag(@topic.picture_1.url, id: 'img_1') %>
                          <% else %>
                            <i class="fas fa-images"></i>
                          <% end %>
                        </div>
                      <button type="button" id="del-img1" onClick="del_img('1', 'new')">画像を削除</button>
                      </div>
                      <%= f.file_field :picture_1 ,class: 'form-all-picutre',id: 'form-picture1' %>
                    </div>

                    <div class="img_upload2">
                      <div class="pic_grid">
                        <div class="img_field" id="img_field2" onClick="$('#form-picture2').click()">
                          <% if @topic.picture_2.present? %>
                            <%= image_tag(@topic.picture_2.url, id: 'img_2') %>
                          <% else %>
                            <i class="fas fa-images"></i>
                          <% end %>
                        </div>
                        <button type="button" id="del-img2" onClick="del_img('2', 'new')">画像を削除</button>
                      </div>
                      <%= f.file_field :picture_2 ,class: 'form-all-picutre',id: 'form-picture2' %>
                    </div>

                    <div class="img_upload3">
                      <div class="pic_grid">
                        <div class="img_field" id="img_field3" onClick="$('#form-picture3').click()">
                          <% if @topic.picture_3.present? %>
                            <%= image_tag(@topic.picture_3.url, id: 'img_3') %>
                          <% else %>
                            <i class="fas fa-images"></i>
                          <% end %>
                        </div>
                        <button type="button" id="del-img3" onClick="del_img('3','new')">画像を削除</button>
                      </div>
                      <%= f.file_field :picture_3 ,class: 'form-all-picutre',id: 'form-picture3' %>
                    </div>

                  <div class="picture_attention">※通行人の映り込みや、個人が特定されるもの等のご投稿はご遠慮ください。</div>
                </div>
                <div class="form-group">
                  <%= f.label :description,"コメント" %>
                  <%= f.text_area :description, class: 'form-control' %>
                </div>

                <%= f.submit '投稿', class: 'btn btn-black btn-block btn-last' %>

                <% end %>
            </div>
        </div>
    </div>
</div>


<script>
var map
var geocoder

const display = document.getElementById('display')
var marker;

function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35.681236, lng: 139.767125},
        zoom: 16,
    });

// ドラッグ可能なマーカー
    marker = new google.maps.Marker({
        position:  {lat: 35.681236, lng: 139.767125},
        map: map,
        draggable: true
    });
//マーカーのドロップ（ドラッグ終了）時のイベント
    google.maps.event.addListener(marker, 'dragend', function(e) {
//イベントの引数eの、プロパティ.latLngがmarkerの緯度経度。
        document.getElementById('topic_latitude').value  = e.latLng.lat(),
        document.getElementById('topic_longitude').value = e.latLng.lng()
    });

// infoWindowは吹き出し
    infoWindow = new google.maps.InfoWindow({
    // contentで中身を指定
    // 今回は文字にリンクを貼り付けた形で表示
    content: `<a href='/pages/index'>リンクです！</a>`
    });
    // markerがクリックされた時、
    marker.addListener("click", function(){
        // infoWindowを表示
        infoWindow.open(map, marker);
    });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= @env %>&callback=initMap" async defer></script>