
<br>
<br>
<br>
<br>
<br>
    <div>
        <%= @topic.created_at %>
        <%= @topic.title %>
    <!-- 確認用表示 -->
        <%= @topic.latitude %>
        <%= @topic.longitude %>
        
    </div>
<div id="map_show"></div>

<% unless @topic.picture_1.url.nil? %>
    <%=  link_to @topic.picture_1.url, 'data-lightbox': @topic.picture_1 do %>
        <%= image_tag @topic.picture_1.url, class: "show_image" %>
    <% end %>
<% end %>

<div><p>投稿者コメント</p>
<%= @topic.description %>
</div>
<div class="heart"></div>

<input type="button" value="PDF出力">


<%= form_with model: @comment, url: comments_path do |f|  %>
    <div class="form-group">
        <%= f.label :comment, "コメント", class: 'text-black' %>
        <%= f.text_field :comment, class: 'form-control' %>
        <%= f.hidden_field :topic_id, value: @topic.id %>
    </div>
    <%= f.submit "投稿", class: 'btn-comment' %>
<% end %>

<div>投稿コメント一覧<div>
    <div class="comment-text">
        <% @topic.comments.each do |comment| %>
            <p class="topic-text">
            <%= comment.comment %>
            </p>
        <% end %>
    </div>
</div>


<script>
let map
let geocoder
const topic = gon.topic //controllerから検索結果のtopicを取得

const latitude = topic.latitude
const longitude = topic.longitude

function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map_show'), {
        center: {lat: latitude, lng:longitude},
        zoom: 16,
    });

    // ドラッグ可能なマーカー
    marker = new google.maps.Marker({
        position: {lat: latitude, lng:longitude},
        map: map,
        draggable: true
    });
}

$('.heart').on('click', function() {
    let $btn = $(this);
    // Likeアイコンがonクラス持っていたら
    if ($btn.hasClass('on')) {
        $btn.removeClass('on');
        $btn.removeClass("HeartAnimation");
    //   $btn.css("background-position","left");
    } else {
        $btn.addClass('on');
        $btn.addClass("HeartAnimation");
    }
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= @env %>&callback=initMap" async defer></script>