<div class="topic-new-wrapper">

    <div class="container">
        <div class="row">
            <div class="ol-md-12" >
                <div class="card">
                    <div class="card-img-top" id="map_show"></div>
                    <div class="card-body">
                        <h5 class="card-title">タイトル：<%= @topic.title %></h5>
                        <p class="card-text">投稿日時：<%= @topic.created_at %></p>
                        <p class="card-text">投稿者コメント：<%= @topic.description %></p>
                    </div>
                    <!-- 表示確認用 -->
                    緯度：<%= @topic.latitude %>  経度：<%= @topic.longitude %>
                    <!-- ここまで -->
                    <div class="card-body">
                    <% unless @topic.picture_1.url.nil? %>
                        <%=  link_to @topic.picture_1.url, 'data-lightbox': @topic.picture_1 do %>
                            <%= image_tag @topic.picture_1.url, class: "show_image" %>
                        <% end %>
                    <% end %>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                    <ul class="list-group list-group-flush">
                    <h3>コメント</h3>
                        <li class="list-group-item">
                        <div id="comments_area">
                            <%= render 'comments/index', comments: @comments %>
                        </div>
                        </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        
                        <li class="list-group-item"></li>
                    
                    </ul>
                    <div class="heart"></div>
                    <% if logged_in? %>
                        <div class="comment-create">
                            <h3 class="text-left">コメントを投稿する</h3>
                            <%= render 'comments/form', comment: @comment, topic: @topic %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<div class="show-bottom"></div>
</div>

<script>
let map
let geocoder
const topic = gon.topic //controllerから検索結果のtopicを取得

const latitude = topic.latitude
const longitude = topic.longitude

function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map_show'), {
        center: {lat: latitude, lng:longitude},
        zoom: 16,
    });

    // ドラッグ可能なマーカー
    marker = new google.maps.Marker({
        position: {lat: latitude, lng:longitude},
        map: map,
        draggable: true
    });
}

$('.heart').on('click', function() {
    let $btn = $(this);
    // Likeアイコンがonクラス持っていたら
    if ($btn.hasClass('on')) {
        $btn.removeClass('on');
        $btn.removeClass("HeartAnimation");
    //   $btn.css("background-position","left");
    } else {
        $btn.addClass('on');
        $btn.addClass("HeartAnimation");
    }
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= @env %>&callback=initMap" async defer></script>