<div class="topic-new-wrapper">

    <div class="container">
        <div class="row">
            <div class="ol-md-12" >
                <div class="card card-topic">
                    <div class="card-img-top" id="map_show"></div>
                    <div class="card-body">
                        <h2 class="card-title card-title-topic">タイトル：<%= @topic.title %></h5>
                        <h4 class="card-text">最寄駅：<%= @topic.station %></h4>
                        <p class="card-text">投稿者コメント：<%= @topic.description %></p>
                        <p class="card-text">投稿日時：<%= @topic.created_at %></p>
                    </div>
                    <!-- 表示確認用 -->
                    <strong>確認用</strong>　緯度：<%= @topic.latitude %>  経度：<%= @topic.longitude %>
                    <!-- ここまで -->
                    <div class="card-body">
                    <% unless @topic.picture_1.url.nil? %>
                        <%=  link_to @topic.picture_1.url, 'data-lightbox': @topic.picture_1 do %>
                            <%= image_tag @topic.picture_1.url, class: "show_image" %>
                        <% end %>
                    <% end %>
                    <% unless @topic.picture_2.url.nil? %>
                        <%=  link_to @topic.picture_2.url, 'data-lightbox': @topic.picture_1 do %>
                            <%= image_tag @topic.picture_2.url, class: "show_image" %>
                        <% end %>
                    <% end %>
                    <% unless @topic.picture_3.url.nil? %>
                        <%=  link_to @topic.picture_3.url, 'data-lightbox': @topic.picture_3 do %>
                            <%= image_tag @topic.picture_3.url, class: "show_image" %>
                        <% end %>
                    <% end %>
                    </div>
                    <div class="heart"></div>
                    <ul class="list-group list-group-flush">
                    <h3>コメント</h3>
                        <li class="list-group-item">
                            <div id="comments_area">
                                <%= render 'comments/index', comments: @comments %>
                            </div>
                            <% if logged_in? %>
                                <div class="comment-create">
                                    <h3 class="text-left">コメント投稿</h3>
                                    <%= render 'comments/form', comment: @comment, topic: @topic %>
                                </div>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="show-bottom"></div>
</div>

<script>
let map
let geocoder
const topic = gon.topic //controllerから検索結果のtopicを取得

const latitude = topic.latitude
const longitude = topic.longitude

function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map_show'), {
        center: {lat: latitude, lng:longitude},
        zoom: 16,
    });

    // ドラッグ不可のマーカー
    marker = new google.maps.Marker({
        position: {lat: latitude, lng:longitude},
        map: map
    });
}

$('.heart').on('click', function() {
    let $btn = $(this);
    // Likeアイコンがonクラス持っていたら
    if ($btn.hasClass('on')) {
        $btn.removeClass('on');
        $btn.removeClass("HeartAnimation");
    //   $btn.css("background-position","left");
    } else {
        $btn.addClass('on');
        $btn.addClass("HeartAnimation");
    }
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= @env %>&callback=initMap" async defer></script>