<div class="container mypage-container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 col-xs-12">
            <div class="myspotpage-container">
                <!-- Topicsを取得してLOOPさせる。 -->
                <div class="row">
                <% mytopics.each do |mytopic| %>
                    <div class="col-lg-6 col-xs-12">
                        <div class="card mb-4 myspot-card">
                            <% if mytopic.picture_1.url.nil? %>
                                <div class="new_img_field">
                                    <i class="fas fa-images"></i>
                                </div>
                            <% else %>
                                <%= image_tag mytopic.picture_1.url, class: "new-topic-picture" %>
                            <% end %>
                            <div class="card-body">
                                <div class="small text-muted"><strong>投稿日：</strong><%= mytopic.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
                                <h2 class="card-title h4"><%= mytopic.title %></h2>
                                <p class="card-text"><%= mytopic.description %></p>
                                <a class="btn btn-primary" href="/topics/<%= mytopic.id %>">投稿へ →</a>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>