<header class=" mypage-wrapper">
    <div class="container">
        <div class="text-center my-5 ">
            <div class="mypage-header">
                <h1 class="fw-bolder">Welcome to Localmapping!</h1>
                <p class="lead mb-0">まちに身を置き、まちなかを体感しよう</p>
            </div>
            <p class="lead mb-0 pull-right">ようこそ！　<%= current_user.name %>さん</p>
            <%= hidden_field_tag :my_station, current_user.station %>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container mypage-container">
    <div class="row">
        <!-- マイページ（メイン部分）-->
        <div class="col-lg-8">
            <!-- いいね順のランキング-->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title ranking-title">人気ランキング</h2>
                </div>
                <div class="card-img-top card-ranking-map" id='map_mypage'></div>
                <ul class="list-group list-group-flush list-spot-ranking">
                    <% cnt = 1 %>
                    <% @topics_rank.each do |rank| %>
                        <li class="list-group-item">
                            <div class="rank-spot-container">
                                <div class="rank-spot-top">
                                    <div><strong>No<%= cnt %></strong>　<%= rank.rank %> いいね <i class="far fa-thumbs-up fa-lg"></i></div>
                                </div>
                                <div class="rank-spot-left">
                                    <% unless rank.picture_1.url.nil? %>
                                        <%= image_tag rank.picture_1.url, class: "rank-spot-picture" %>
                                    <% end %>
                                </div>
                                <div class="rank-spot-right">
                                    <div><strong>タイトル：</strong><%= rank.title %></div>
                                    <div><strong>最寄駅　：</strong><%= rank.station %></div>
                                    <div><strong>投稿者　：</strong><%= rank.user.name %></div>
                                    <div><strong>更新日　：</strong><%= rank.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
                                </div>
                                <div class="rank-spot-show">
                                    <a class="btn btn-primary" href="/topics/<%= rank.id %>">投稿へ →</a>
                                </div>
                            </div>
                        </li>
                    <% cnt += 1%>
                    <% end %>
                    <div id="debug"></div>
                </ul>
            </div>
            <!-- オススメ（投稿日が最新のもの上位４件）　-->
            <div class="text-center">
                <h2 calss="fw-bolder">最新オススメスポット</h2>
            </div>
            <!-- Topicsを取得してLOOPさせる。 -->
            <div class="row">
            <% @new_topics.each do |new_topic| %>
                <% if @new_cnt.even? %><div class="col-lg-6"><% end %>
                    <div class="card mb-4">
                        <% if new_topic.picture_1.url.nil? %>
                            <div class="new_img_field">
                                <i class="fas fa-images"></i>
                            </div>
                        <% else %>
                            <%= image_tag new_topic.picture_1.url, class: "new-topic-picture" %>
                        <% end %>
                        <div class="card-body">
                            <div class="small text-muted"><strong>投稿日：</strong><%= new_topic.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
                            <h2 class="card-title h4"><%= new_topic.title %></h2>
                            <p class="card-text"><%= new_topic.description %></p>
                            <a class="btn btn-primary" href="/topics/<%= new_topic.id %>">投稿へ →</a>
                        </div>
                    </div>
                <% if @new_cnt.odd? %></div><% end %>
                <% @new_cnt += 1 %>
            <% end %>
            </div>
        </div>
        <!-- 左部分のコンテナ(Myスポット、投稿一覧(簡易的)、MyPage(未実装)）) -->
        <div class="col-lg-4">
            <!-- Myスポット -->
            <div class="card mb-4">
                <div class="card-header">
                    <% if logged_in? %>
                        <%= link_to mypages_myspot_path do %>
                            Myスポット
                        <% end %>
                    <% else %>
                        <a href="#">Myスポット</a>
                    <% end %>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <% @topics.each do |topic| %>
                                <li class="list-group-item">
                                    <div class="myspot-container">
                                        <div class="myspot-left">
                                            <% unless topic.picture_1.url.nil? %>
                                                <%= image_tag topic.picture_1.url, class: "myspot-picture" %>
                                            <% end %>
                                        </div>
                                        <div class="myspot-right">
                                            <div><strong>タイトル：</strong><%= topic.title %></div>
                                            <div><strong>最寄駅　：</strong><%= topic.station %></div>
                                            <div><strong>投稿者　：</strong><%= topic.user.name %></div>
                                            <div><strong>更新日　：</strong><%= topic.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
                                        </div>
                                        <div class="myspot-show">
                                            <a class="btn btn-primary" href="/topics/<%= topic.id %>">投稿へ →</a>
                                        </div>
                                    </div>
                                </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <!-- 投稿一覧-->
            <div class="card mb-4">
                <div class="card-header"><a href="#">自分の投稿一覧</a></div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <% @my_topics.each do |topic| %>
                                <li class="list-group-item">
                                    <div class="mysubmit-container">
                                        <div class="mysubmit-left">
                                            <% unless topic.picture_1.url.nil? %>
                                                <%= image_tag topic.picture_1.url, class: "mysubmit-picture" %>
                                            <% end %>
                                        </div>
                                        <div class="mysubmit-right">
                                            <div><strong>タイトル：</strong><%= topic.title %></div>
                                            <div><strong>最寄駅　：</strong><%= topic.station %></div>
                                            <div><strong>投稿者　：</strong><%= topic.user.name %></div>
                                            <div><strong>更新日　：</strong><%= topic.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
                                        </div>
                                        <div class="mysubmit-show">
                                            <a class="btn btn-primary" href="/topics/<%= topic.id %>">投稿へ →</a>
                                        </div>
                                        <div class="mysubmit-edit">
                                            <a class="btn btn-success" href="/topics/<%= topic.id %>/edit">編集 →</a>
                                        </div>
                                    </div>
                                </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <!-- ユーザ情報 -->
            <!--TODO:ユーザ情報ページ、ユーザ情報編集機能
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
            -->
        </div>
    </div>
</div>



<script>

function initMap(){
    var geocoder
    const topics_rank = gon.topics_rank //Controllerで取得したいいねランキングの上位Topics
    var marker = []; // マーカーを複数表示させたいので、配列化
    var infoWindow = []; // 吹き出しを複数表示させたいので、配列化
    var latitude = [];
    var longitude = [];
    var mylatlng
    var my_station = document.getElementById('my_station').value;

    geocoder = new google.maps.Geocoder()

    var map = new google.maps.Map(document.getElementById('map_mypage'));//地図を作成する

    geo(aftergeo);

    function geo(callback){
        var cRef = topics_rank.length;
        // gonで定義したtopics分繰り返し加える処理を行う
        for (var i = 0; i < topics_rank.length; i++) {
            // topicsの緯度経度を取得
            latitude[i] = topics_rank[i]['latitude'];
            longitude[i] = topics_rank[i]['longitude'];

            (function(i) {
                geocoder.geocode( { 'address': my_station }, function(results, status) {
                    if (status == 'OK') {// statusがOKであれば
                        mylatlng = results[0].geometry.location;
                        marker[i] = new google.maps.Marker({
                            position: {lat: latitude[i], lng:longitude[i]},
                            map: map
                        });
                        // 変数iを変数idに代入
                        let id = topics_rank[i]['id']
                        let No = i + 1;
                        // infoWindowは吹き出し
                        infoWindow[i] = new google.maps.InfoWindow({
                            // contentで中身を指定
                            // 文字にリンクを貼り付けた形で表示
                            content: `No${No}：<a href='/topics/${id}' class='map_link'>${topics_rank[i].title}</a>`
                        });
                        // markerがクリックされた時、
                        marker[i].addListener("click", function(){
                            // infoWindowを表示
                            infoWindow[i].open(map, marker[i]);
                        });
                    } else {// 失敗した場合
                    }//if文の終了。
                    if (--cRef <= 0) {
                        callback();//全て取得できたらaftergeo実行
                    }
                });////function(results, status)及びgeocoder.geocodeの終了
            }) (i);
        } //for文の終了
    }//function geo終了

    function aftergeo(){
        var opt = {
            center: mylatlng,
            zoom: 14 // 地図のズームを指定
        };//地図作成のオプションのうちcenterとzoomは必須
        map.setOptions(opt);//オプションをmapにセット
    }//function aftergeo終了
};//function initMap終了

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= @env %>&callback=initMap" async defer></script>
